<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Screen Transparency: 0: Transparent; 1: Not Transparent-->
    <!--Any number between it will be the transparency graduation-->
    <add key="Screen.Opacity" value="1"/>
    <!--PIP screen Width-->
    <add key="Screen.Width" value="300"/>
    <!--PIP screen height-->
    <add key="Screen.Height" value="240"/>
    <!--PIP screen horizontal position-->
    <add key="Screen.XPos" value="0"/>
    <!--PIP screen vertical position-->
    <add key="Screen.YPos" value="0"/>
  </appSettings>
</configuration>